<h3>Log in to your MyLibrary account below</h3>

<%= form_tag ({controller: "sessions", action: "create", method: "post"}) do %> 

    <label>Username: </label><br> 
    <input type="text" name="username"><br> 

    <label>Password: </label><br> 
    <input type="password" name="password"><br>

    <br>

    <input type="submit" value="Log in">

<% end %> 