<h3>Log in to your MyLibrary account below</h3>


<%= form_tag ({controller: "sessions", action: "create", method: "post"}) do %> 

  <label>Email: </label>
  <input type="text" name="email"><br> 


  <br>


  <label>Password: </label>
  <input type="password" name="password"><br>

  <br>

  <input type="submit" value="Log In">

<% end %> 