<h2>Create your MyLibrary account below</h2>

<% if flash[:message] %> 
    <%= flash[:message] %> 
<% end %><br><br>

<%= form_tag ({controller: "users", action: "create", method: "post"}) do %> 

    <label>Username: </label><br> 
    <input type="text" name="username"><br> 

    <br>

    <label>Password: </label><br> 
    <input type="password" name="password"><br>

    <br>

    <input type="submit" value="Sign Up">

<% end %> 