<% if flash[:message] %> 
    <%= flash[:message] %> 
<% end %> 

<h1>Welcome to MyLibrary!</h1>

Click here if you have an account: <%= link_to "Log in", '/login' %><br><br>

Click here to log in with Github: <%= link_to('Log in with GitHub!', '/auth/github') %><br><br>

Click here if you want to sign up: <%= link_to 'Sign up', '/signup' %><br><br>
