<% if flash[:message] %> 
    <%= flash[:message] %> 
<% end %> 

<div style="text-align:center;">
<h1>Welcome to MyLibrary!</h1>
</div>

Click here if you have an account: <%= link_to "Log in", '/login' %><br><br>

Click here to log in with Facebook: <%= link_to('Log in with Facebook!', '/auth/facebook') %><br><br>

Click here if you want to sign up: <%= link_to 'Sign up', '/signup' %><br><br>
