<div style="text-align:center;">
    <h2>Edit <%= @review.book.name %> Review</h2>

    <% if @review.errors.any? %>
        <di v>
            <h2>There were some errors:</h2>
            <ul>
            <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>


    <%= render 'review' %> 
</div>